[cloudera-manager]
# Packages for Cloudera Manager, on {{ ansible_distribution }} {{ ansible_distribution_major_version }} x86_64
name=Cloudera Manager
{% if cloudera_manager_repository is defined %}
baseurl="{{ cloudera_manager_repository }}"
gpgcheck = 0
{% elif cloudera_manager_version is defined %}
baseurl=https://archive.cloudera.com/cm{{cloudera_manager_version|regex_replace('^([0-9]+)(.*)$', '\1')}}/redhat/$releasever/x86_64/cm/{{cloudera_manager_version}}
gpgkey =https://archive.cloudera.com/cm{{cloudera_manager_version|regex_replace('^([0-9]+)(.*)$', '\1')}}/redhat/$releasever/x86_64/cm/RPM-GPG-KEY-cloudera
gpgcheck = 1
{% else %}
baseurl=https://archive.cloudera.com/cm5/redhat/$releasever/x86_64/cm/5/
gpgkey =https://archive.cloudera.com/cm5/redhat/$releasever/x86_64/cm/RPM-GPG-KEY-cloudera
gpgcheck = 1
{% endif %}
