# Packages for Cloudera Manager, Version 5, on Ubuntu {{ ansible_distribution_release }} x86_64
deb [arch=amd64] http://archive.cloudera.com/cm5/ubuntu/{{ ansible_distribution_release }}/amd64/cm {{ ansible_distribution_release }}-cm5 contrib
deb-src http://archive.cloudera.com/cm5/ubuntu/{{ ansible_distribution_release }}/amd64/cm {{ ansible_distribution_release }}-cm5 contrib
