# Copyright (c) 2012 Cloudera, Inc. All rights reserved.
#
# This file describes the database connection.
#

# The database type
# Currently 'mysql', 'postgresql' and 'oracle' are valid databases.
com.cloudera.cmf.db.type={{ cloudera_external_database.type }}

# The database host
# If a non standard port is needed, use 'hostname:port'
com.cloudera.cmf.db.host={{ cloudera_external_database.host }}

# The database name
com.cloudera.cmf.db.name={{ cloudera_external_database.cloudera_db }}

# The database user
com.cloudera.cmf.db.user={{ cloudera_external_database.cloudera_user }}

# The database user's password
com.cloudera.cmf.db.password={{ cloudera_external_database.cloudera_pwd }}

# The db setup type
# By default, it is set to INIT
# If scm-server uses Embedded DB then it is set to EMBEDDED
# If scm-server uses External DB then it is set to EXTERNAL
com.cloudera.cmf.db.setupType=EXTERNAL

