[mysqld]
datadir={{ mariadb.data_dir }}
socket={{ mariadb.socket_file }}
user={{ mariadb.user }}
# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0

[mysqld_safe]
log-error={{ mariadb.log_file }}
pid-file={{ mariadb.pid_file }}