---
# Install Cloudera's Service and Configuration Manager (SCM)
# This playbook is executed as root

- name: Set up YUM Cloudera Manager repo
  become: yes
  template: src=cloudera_manager.repo.j2 dest=/etc/yum.repos.d/cloudera_manager.repo
  tags: cdh-agent-repo, cdh-agent-base

- name: Set up YUM Cloudera CDH repo
  become: yes
  template: src=cloudera_cdh.repo.j2 dest=/etc/yum.repos.d/cloudera_cdh.repo
  tags: cdh-agent-repo, cdh-agent-base

- name: Clean YUM
  become: yes
  shell: "yum clean all"
  tags: cdh-agent-yum-repo, cdh-agent-base

- name: Install prequisite dependencies for Cloudera SCM
  become: yes
  yum: name={{ item }} state=present
  with_items:
    - java-1.8.0-openjdk
    - psmisc
  tags: cdh-agent-jdk, cdh-agent-base

- name: Add MySQL JDBC connector
  become: yes
  copy: src=mysql-connector-java-5.1.40-bin.jar dest=/usr/share/java/mysql-connector-java.jar
  tags: cdh-agent-jdk, cdh-agent-base, cdh-agent-jdbc

- name: Copy UnlimitedJCEPolicy [1]
  become: yes
  copy: src=local_policy.jar dest=/etc/alternatives/jre_1.8.0/lib/security/
  tags: cdh-agent-jdk, cdh-agent-base

- name: Copy UnlimitedJCEPolicy [2]
  become: yes
  copy: src=US_export_policy.jar dest=/etc/alternatives/jre_1.8.0/lib/security/
  tags: cdh-agent-jdk, cdh-agent-base

- name: Create cloudera-scm user
  become: yes
  user: name=cloudera-scm state=present home=/opt/cloudera shell=/bin/bash
  tags: cdh-agent-base

- name: Install Cloudera Manager Agent
  become: yes
  yum: name={{ item }} state=present disable_gpg_check=yes
  with_items:
  - cloudera-manager-daemons
  - cloudera-manager-agent
  tags: cdh-agent-base

- name: Add Cloudera Manager Agent config
  become: yes
  template: src=config.ini.j2 dest=/etc/cloudera-scm-agent/config.ini
  notify: Restart Cloudera Manager Agent
  tags: cdh-agent-config
